@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #1C2B35;
    height: 80px;
    /* align-items: center; */
    display: flex;
 
}
nav>.mainDiv{
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    margin-right: 32px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
letter-spacing: 0.005em;
}
a:hover{
    color: #ff9900;
}
.mainDiv>.okkks>p{
    font-size: 28px;
    color: #FFFFFF;
    font-family: 'Lato';
}

@media screen and (max-width:668px)  {
    nav>.mainDiv{
        width: 100%;
        display: block;
        align-items: center;
       text-align: center;
    }
    
    .mainDiv>.linkDivs{
        margin-top: 29px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    a{
        margin: 0;
    }
    .mainDiv>.okkks>p{
        /* margin-top: 5px;
        font-size: 28px;
        color: #FFFFFF;
        font-family: 'Lato'; */
        display: none;
    }
    
}